* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

.header-container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
}

.header-desription-title {
    margin-right: 130px;
    background-color: gray;
    text-align: right;
}


/* my-failures-area */

.my-failures-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}


.my-failures-details {
    width: 416px;
    height: 400px;
}

.my-failures-details h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.my-failures-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}


/* plant area  */
.my-plant-container {
    margin-bottom: 125px;
}

.my-plans-area {
    display: flex;
    gap: 86px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.my-plant {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}

.web-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.javascript-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.habit-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.ecommerce-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}


/* awlays section */
.awlays-container {
    width: 1140px;
    height: 300px;
    background-image: url("/images/watch.png"), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    margin-bottom: 130px;
}

.awlays-dataile {
    padding: 59px 617px 59px 64px;

}

.awlays-dataile h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.awlays-dataile button {
    width: 160px;
    height: 64px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
}


/* footer section  */