* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    height: 100vh;
    background: url("../images/banner/banner3.png");
    background-size: cover;
    justify-content: end;
}

.header .header-content {
    padding: 150px 170px;
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: white;
    padding-bottom: 24px;
}

.header-dispription {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding-bottom: 32px;
}

.header-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.header-btn a {
    color: #005FAC;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
}

/* my-failures-area */

.my-failures-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}


.my-failures-details {
    width: 416px;
    height: 400px;
}

.my-failures-details-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 20px;
}

.my-failures-details-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 24px;
}

.list-down p {
    margin-bottom: 10px;
}

.list-down-color {
    color: #16D887;
}


/* plant area  */
.my-plant-container {
    margin-bottom: 125px;
}

.my-plans-area {
    display: flex;
    gap: 86px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.my-plant {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}

.web-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.javascript-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.habit-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.ecommerce-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}


/* awlays section */

.awlays-container {
    width: 60%;
    margin: auto;
}

.awlays-container-image {
    width: 1140px;
    height: 300px;
    background-image: url("../images/watch.png"), url("../images/gradient1.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 130px;
}

.awlays-dataile {
    padding: 59px 617px 59px 64px;

}

.awlays-dataile h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.awlays-dataile button {
    width: 160px;
    height: 64px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
}


/* footer section  */

.footer-container {
    width: 100%;
    height: 577px;
    background: #151414;
}

.footer-contain {
    display: flex;
    justify-content: space-evenly;
    padding: 120px;
}

.footer-dataiel-info {
    width: 485px;
    height: 317px;
}

.footer-dataiel-title h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-dataiel-discription p {
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-dataiel-email p {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-dataiel-phone p {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer-dataiel-icon {
    display: flex;
    gap: 18px;
}

.footer-subscribe {
    width: 325px;
    height: 204px;
}

.footer-subscribe-titel {
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.footer-email-area {
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    background: #151414;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    margin-top: 31px;
    margin-bottom: 16px;
}

.footer-subscribe-btn {
    width: 170px;
    height: 64px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
}